<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Shohjahon Rajabov</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/assets/img/favicon.png" rel="icon">
    <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" rel="stylesheet">
</head>

<body>

<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<header id="header">
    <div class="d-flex flex-column">

        <div class="profile">
            <img src="../static/assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="index.html">Shohjahon Rajabov</a></h1>
            <div class="social-links mt-3 text-center">
                <a href="mailto:cybersnic@gmail.com" class="email"><i class="bi bi-envelope"></i></a>
                <a href="https://github.com/createuz" class="github"><i class="bx bxl-github"></i></a>
                <a href="https://www.linkedin.com/in/shohjahon-rajabov-8758b9272/" class="linkedin"><i
                        class="bx bxl-linkedin"></i></a>
                <a href="https://t.me/cybersnic" class="telegram"><i class="bx bxl-telegram"></i></a>
                <a href="https://www.instagram.com/rajabovmy/" class="instagram"><i
                        class="bx bxl-instagram"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100078686100407" class="facebook"><i
                        class="bx bxl-facebook"></i></a>
            </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
            {% csrf_token %}
            <ul>
                <li><a href="/" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a>
                </li>
                <li>
                    <a href="/about/" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a>
                </li>
                <li><a href="/resume/" class="nav-link scrollto"><i class="bx bx-file-blank"></i>
                    <span>Resume</span></a></li>
                <li><a href="/portfolio/" class="nav-link scrollto"><i class="bx bx-book-content"></i>
                    <span>Portfolio</span></a>
                </li>
                <li><a href="/contact/" class="nav-link scrollto"><i class="bx bx-envelope"></i>
                    <span>Contact</span></a></li>
            </ul>
        </nav><!-- .nav-menu -->
    </div>
</header><!-- End Header -->

<main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">

            <div class="section-title">
                <h2>Resume</h2>

                <div class="row">
                    <div class="col-lg-6" data-aos="fade-up">
                        <div class="resume-summary">
                            <h3 class="resume-title" style="color: darkblue;">👤 About Me</h3>
                            <div class="resume-item pb-0">
                                <ul>
                                    <li>I am a backend developer with extensive experience in creating high-quality web
                                        applications.
                                    </li>
                                    <li>Strong expertise in working with Python programming language, specifically using
                                        Django, Django REST Framework (DRF), and Restful API.
                                    </li>
                                    <li>Skilled in developing RESTful APIs using Python and DRF.</li>
                                    <li>Solid understanding of working with databases, designing and optimizing data
                                        structures.
                                    </li>
                                    <li>Expertise in developing Telegram bots using the aiogram library.</li>
                                    <li>Ensuring smooth communication and data exchange between frontend and backend
                                        components.
                                    </li>
                                    <li>Implementing authentication mechanisms for data protection.</li>
                                    <li>Committed to delivering technical tasks promptly and with excellent quality.
                                    </li>
                                    <li>Goal: provide the best technical guidance aligned with organization's
                                        objectives.
                                    </li>
                                    <li>Eager to collaborate and enhance projects for growth.</li>
                                    <li>For any additional information, please feel free to <a
                                            href="mailto:cybersnic@gmail.com"><b>Contact me via email</b></a>.
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="resume-education">
                            <h3 class="resume-title" style="color: darkblue;">🎓 Education</h3>
                            <div class="resume-item">
                                <h5>2021 - 2026</h5>
                                <ul>
                                    <li><strong>Computer Science Engineering</strong></li>
                                    <p><b>TATU </b>- Tashkent University of Information Technologies named after Muhammad
                                        Al-Khwarizmi</p>
                                </ul>
                                <h5>2022 - 2023</h5>
                                <ul>
                                    <li><strong>Education Center</strong></li>
                                    <p>Studied programming at <span class="green">// <b>PDP</b> Academy Education Center</span>
                                    </p>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="resume-experience">
                            <h3 class="resume-title" style="color: darkblue;">💼 Experience</h3>
                            <div class="resume-item">
                                <p>
                                <ul>
                                    I have completed various projects, such as creating the SmartEduOn, Uzum Market, CRM
                                    Analytics Dashboard, E-commerce API and developing a multi-brand online shop using
                                    DRF.
                                    Furthermore, I have a solid understanding of building Telegram bots using the
                                    Aiogram library.
                                    While I may be new to the professional field, I am eager and ready to apply my
                                    skills to real-world projects and challenges.
                                </ul>
                                </p>
                            </div>
                        </div>

                        <h3 class="resume-title" style="color: darkblue;">🚀 Technical Skills</h3>
                        <div class="resume-item">
                            <ul>
                                <li><span class="skill-name">Python Django, DRF (Django REST Framework), RESTful API development</span>
                                </li>
                                <li><span class="skill-name">PostgreSQL, SQLite, SQLAlchemy (Python ORM)</span></li>
                                <li><span class="skill-name">Docker, containerization</span></li>
                                <li><span class="skill-name">Redis, in-memory data store</span></li>
                                <li><span class="skill-name">Celery, distributed task queue</span></li>
                                <li><span class="skill-name">Postman, API development and testing tool</span></li>
                                <li><span class="skill-name">Telegram Bot* development using libraries like Aiogram, Pyrogram</span>
                                </li>
                                <li><span
                                        class="skill-name">Git, GitHub, GitLab for version control and collaboration</span>
                                </li>
                                <li><span class="skill-name">Heroku, Digital-ocean for deployment and hosting</span>
                                </li>
                                <li><span class="skill-name">Asyncio, asynchronous programming in Python</span></li>
                                <li><span class="skill-name">Jinja2, templating engine for Python</span></li>
                                <li><span class="skill-name">Linux (Ubuntu), operating system for development and deployment</span>
                                </li>
                            </ul>
                        </div>
                        <div class="resume-projects">
                            <h3 class="resume-title" style="color: darkblue;">⚙ Projects</h3>
                            <div class="resume-item">
                                <p><a href="https://smarteduon.com">SmartEduOn</a>
                                    Founded by createuz with the vision of providing life-changing educational
                                    experiences to everyone, everywhere.</p>
                                <p>
                                    <a href="https://github.com/your-username/crm-analytics-dashboard">CRM Analytics
                                        Dashboard API</a>
                                    API for the CRM analytics dashboard project.</p>

                                <p><a href="https://github.com/your-username/drf-uzum-market-clone">Uzum
                                    Market</a>
                                    Multi-disciplinary online shop created using Django Rest framework.
                                </p>
                                <p>
                                    <a href="https://github.com/your-username/drf-ecommerce"
                                    >E-commerce</a>
                                    E-commerce platform developed with Django Rest API.</p>
                            </div>
                        </div>
                        <!-- Add more projects as needed -->
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Resume Section -->

</main><!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Shohjahon Rajabov</span></strong>
        </div>
    </div>
</footer><!-- End  Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="../static/assets/vendor/aos/aos.js"></script>
<script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../static/assets/vendor/typed.js/typed.min.js"></script>
<script src="../static/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="../static/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="../static/assets/js/main.js"></script>

</body>

</html>